.App {
  display: flex;
  align-items: center;
  flex-shrink: 2;
  background: hsl(0, 0%, 100%);
}
.main-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

.image{
  height: 100vh;
  width: 33.3vw;
  background-image: url(./images/bg-main-desktop.png);
}

@media (max-width: 1250px){
  .App{
    flex-direction: column;
  }

  .main-form-container{
    flex-direction: column;
    align-items: center;
  }

  .image{
    width: 100%;
    height: 250px;
    background-image: url(./images/bg-main-mobile.png);
    background-size: cover;
    background-position: center;
  }
}